<div class="min-h-screen min-h-screen bg-m-gray2 flex justify-content-center py-5 border-box">
    <div class="w-30rem w-responsive bg-m-white border-solid border-600 border-round-xl flex">
      <div class="w-30rem">
        <div class="flex w-full align-items-center py-3 justify-content-center">
          <img class="w-7rem h-7rem -ml-5" src="../../../assets/Logo.png" alt="Logo FATEX"/>
          <span class="font-semibold text-6xl color-m-red">FATEX</span>
        </div>
        <div class="px-5">
          <form>
            <div class="card flex justify-content-center mb-5">
              <span class="p-float-label">
                <input class="input-default" type="email" pInputText id="email" />
                <label for="email">Email Institucional</label>
              </span>
            </div>
            <div class="card flex justify-content-center mb-5">
              <span class="p-float-label input-responsive">
                <p-inputMask [style]="{ width: '100%'}" inputId="phone" mask="(99)999999999"></p-inputMask>
                <label  for="phone">Telefone</label>
            </span>
            </div>
            <div class="card flex justify-content-center mb-5">
              <span class="p-float-label">
                <input class="input-default" type="password" pInputText id="password" />
                <label for="email">Senha</label>
              </span>
            </div>
            <div class="card flex justify-content-center mb-5">
              <span class="p-float-label">
                <input class="input-default" type="password" pInputText id="conf-pswd" />
                <label for="conf-pswd">Confirme a sua senha</label>
              </span>
            </div>
            <div class="flex justify-content-center">
              <p-button class="w-full px-5" severity="danger" label="Cadastrar-se" styleClass="min-w-full" routerLink=""></p-button>
            </div>
          </form>
          <div class="flex justify-content-center">
            <p class="color-m-gray3 text-center"> Ao clicar em Cadastrar-se você está concordando com os <span (click)="showDialog()" class="underline cursor-pointer">Termos de Uso</span> do FATEX.</p>
          </div>
          <p-dialog header="Termos de Uso" [(visible)]="visible" [style]="{ width: '80vw', height: '600px' }">
            <article id="termos">
              <h3>Termos de Uso do Aplicativo FATEX</h3>
              <p>Ao utilizar o Aplicativo FATEX, você concorda com estes Termos, que estabelecem o relacionamento contratual entre você e a FATEX. Caso não concorde com estes Termos, por favor, não utilize o Aplicativo.</p>
            </article>
  
            <article id="definicoes">
                <h3>Definições</h3>
                <dl>
                    <dt>Aplicativo</dt>
                    <dd>O aplicativo FATEX, disponível para download em lojas de aplicativos.</dd>
                    <dt>FATEX</dt>
                    <dd>A empresa responsável pelo desenvolvimento e operação do Aplicativo.</dd>
                    <dt>Parceiro Independente</dt>
                    <dd>O usuário que oferece serviços de transporte compartilhado ou logística por meio do Aplicativo.</dd>
                </dl>
            </article>
    
            <article id="responsabilidades">
                <h3>Responsabilidades</h3>
                <p>A FATEX não atua como provedor de transporte, logística ou fornecedor de produtos. Todos os serviços relacionados ao transporte compartilhado são realizados pelos próprios usuários, que atuam como provedores independentes desse serviço.</p>
                <p>Os usuários que oferecem caronas ou solicitam viagens não são empregados nem representantes da FATEX ou de suas entidades associadas.</p>
                <p>O usuário é responsável por todas as suas ações e interações com outros usuários do Aplicativo, incluindo, mas não se limitando, ao uso do Aplicativo, à prestação de serviços e à aceitação de serviços.</p>
                <p>O usuário é responsável por manter suas informações de cadastro atualizadas e precisas.</p>
                <p>O usuário é responsável por pagar as taxas aplicáveis aos serviços prestados pelos Parceiros Independentes.</p>
            </article>
    
            <article id="uso">
                <h3>Uso do Aplicativo</h3>
                <p>O usuário pode utilizar o Aplicativo para solicitar serviços de transporte compartilhado ou logística prestados por Parceiros Independentes.</p>
                <p>O usuário deve utilizar o Aplicativo de forma responsável e ética, respeitando os direitos e a privacidade de outros usuários.</p>
                <p>O usuário não pode usar o Aplicativo para fins ilícitos ou para prejudicar outros usuários.</p>
            </article>
    
            <article id="suspensao">
                <h3>Suspensão ou Desativação de Conta</h3>
                <p>A FATEX reserva-se o direito exclusivo de suspender ou desativar a conta do usuário em caso de violação destes Termos, Termos Suplementares e/ou qualquer outra política referida nestes Termos, incluindo casos de impossibilidade de efetuar pagamentos e/ou pendências financeiras junto à FATEX.</p>
            </article>
    
            <article id="limites">
                <h3>Limites de Responsabilidade</h3>
                <p>A FATEX não será responsável por danos indiretos, incidentais, especiais, punitivos ou emergentes, incluindo perda de lucros, dados, danos morais ou patrimoniais associados ou decorrentes do uso dos Serviços, mesmo que a FATEX tenha sido alertada sobre a possibilidade desses danos.</p>
                <p>A FATEX não será responsável por nenhum dano, obrigação ou prejuízo decorrente:</p>
                <ul>
                    <li>Do seu uso ou incapacidade de acessar ou usar os Serviços;</li>
                    <li>De qualquer operação ou relação entre você e qualquer Parceiro Independente;</li>
                    <li>De atrasos ou falhas devido a causas fora do seu controle razoável;</li>
                    <li>Da qualidade e integridade dos serviços prestados pelos Parceiros Independentes.</li>
                </ul>
            </article>
    
            <article id="outros">
                <h3>Outros Termos</h3>
                <p>Estes Termos são regidos e interpretados de acordo com as leis da República Federativa do Brasil.</p>
                <p>Qualquer controvérsia decorrente destes Termos será submetida à jurisdição exclusiva dos tribunais da comarca de São Paulo, Estado de São Paulo.</p>
            </article>
    
            <article id="atualizacoes">
                <h3>Atualizações</h3>
                <p>A FATEX pode atualizar estes Termos a qualquer momento. As atualizações entrarão em vigor imediatamente após serem publicadas no Aplicativo. O usuário é responsável por verificar regularmente os Termos para quaisquer atualizações.</p>
            </article>
    
            <article id="adicionais">
                <h3>Adicionais</h3>
                <p>Requisitos de idade: O usuário deve ter pelo menos 18 anos para utilizar o Aplicativo.</p>
                <p>Condições de uso do veículo: O veículo utilizado pelo Parceiro Independente deve atender a determinados requisitos, como estar em bom estado de conservação e possuir seguro.</p>
                <p>Regras de conduta: Os usuários devem respeitar as regras de conduta estabelecidas pela FATEX, que incluem, mas não se limitam, a proibição de discriminação, assédio e violência.</p>
                <p>Política de privacidade: A FATEX coleta e utiliza dados pessoais dos usuários de acordo com a sua Política de Privacidade, que está disponível no site da empresa.</p>
            </article>
          </p-dialog>
        </div>
      </div>
    </div>
</div>

